.login-container{
    .loader-icon{
        font-size: 14px;
        margin-bottom: 3px;
        color: #00d4ff;
        animation: spin 1s infinite linear;
    }
    @keyframes spin {
        from{
            transform: scale(1) rotate(0deg);
        }
        to{
            transform: scale(1) rotate(360deg);
        }
    }
    .header{
        height: 50px;
        padding: 7px 70px 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        button{
            padding: 7px 15px;
            border: none;
            margin-left: 10px;
            border-radius: 6px;
            color: black;
            background-color: #f9f9f9;
            border: 1px solid;
            &:hover{
                background-color: white;
            }
        }
    }
    .title{
        font-size: 30px;
        padding: 10px 0;
        text-align: center;
    }
    .welcome{
        font-size: 20px;
        padding: 10px 0;
        text-align: center;
    }
    .content-form{
        input{
            margin-bottom: 20px;
            margin-top: 4px;
        }
        button{
            width:100%;
            height: 50px;
            border: none;
            border-radius: 5px;
            color: white;
            background-color: black;
            margin: 30px 0;
            
            &:disabled{
                background: #dddddd ;
                color: #afafaf ;
                cursor: no-drop; 
            }
        }
        .back{
            cursor: pointer;
            text-decoration: underline;
        }
    }
}